body{
  background-color: black;
  color: green;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 1px solid green;
  cursor: pointer;
}